.rating {
    position: relative;
    display: flex;
    list-style: none;
    background: var(--primaryColor);
    border: var(--border);
    width: fit-content;
    padding: .5rem .7rem;
    box-shadow: var(--boxShadow);
}

.ratingItem {
    background: unset;
    color: var(--textColorPrimary);
    padding: .2rem;
}

.ratingText {
    --top: 0;
    --left: 0;
    --bottom: 0;
    position: absolute;
    display: block;
    width: fit-content;
    height: fit-content;
    background: var(--primaryColor);
    color: var(--textColorPrimary);

    top: var(--top);
    bottom: var(--bottom);
    left: var(--left);
}