.toast {
    position: absolute;
    z-index: 99999;
    padding: 1rem 1.4rem 1.2rem 1.4rem; 
    background-color: #3f383b;
    color: white;
    border-radius: 5px;
    width: 300px;

    pointer-events: none;
    opacity: 0;
    transition: 200ms ease-in-out;
}
.toast:hover {
    background-color: #2e282b;
}

.toastItem {

}

.toastClose {
    position: absolute;
    top: 8px;
    right: 8px;
    background: unset;
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
}
.toastClose:hover {
    color: #ee298c;
}

.toastProgress {
    position: absolute;
    left: 0;
    bottom: 3px;
    height: 3px;
    background-color: #e76aa9;
    transition: width 40ms ease-in-out;
}

.show {
    pointer-events: all;
    opacity: 1;
}