.toast {
    position: absolute;
    z-index: 99999;
    padding: 1rem 1.4rem 1.2rem 1.4rem; 
    background: var(--colour5);
    color: var(--colour1);
    border-radius: 5px;
    width: 300px;
    box-shadow: var(--shadow);
}
.toast:hover {
    background-color: var(--colour4);
}

.toastItem {

}

.toastClose {
    position: absolute;
    top: 8px;
    right: 8px;
    background: unset;
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--colour1);
}
.toastClose:hover {
    color: var(--accentcolour);
}

.toastProgress {
    position: absolute;
    left: 0;
    bottom: 3px;
    height: 3px;
    background-color: var(--accentcolour);
    animation: progress var(--duration) linear forwards;
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
