.selectWrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    font-family: sans-serif;
    padding: .5rem 1rem;
    border-radius: 7px 7px 0 0;
    width: fit-content;
    min-width: 120px;
    height: 60px;
    box-shadow: var(--shadow);
    border: var(--border);
}
.selectWrap:hover, .selectWrap:focus {
    background-color: var(--accentcolour);
    color: var(--colour1);
}

.selectList {
    pointer-events: none;
    opacity: 0;
    transition: 90ms ease-in-out;

    position: absolute;
    top: 70%;
    left: 0;
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 0 0 7px 7px;
    background: var(--colour3);
    color: var(--textcolour);
    width: 100%;
    box-shadow: var(--shadow2);
}

.show {
    pointer-events: all;
    opacity: 1;
    top: 100%;
}

.selectItem {
    padding: 0.7rem 1rem;
    cursor: pointer;
}
.selectItem:hover,
.selectItem:focus {
    background: var(--accentcolour);
    color: var(--colour1);
}

.selectLabel {

}