.calendarWrap {
    display: grid;
    width: fit-content;
    border: var(--border);
    box-shadow: var(--shadow);
    color: white;
    background: var(--colour3);
    border-radius: 6px;
}
.calendarHeader {
    background: var(--colour5);
}
.headerWrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-block: .7rem;
}
.calendarBody {
    display: grid;
    grid-template-columns: repeat(7, 50px);
}
.date {
    width: 50px;
    height: 50px;
    background: var(--colour3);
    border-radius: 6px;
}
.date:hover {
    background: var(--accentcolour);
    color: var(--colour1);
}
.today {
    border: 3px solid var(--accentcolour)
}
.notCurrentMonth {
    color: var(--textcolour2);
}
.yearInput, .monthInput {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: .4rem;
    width: fit-content;
    min-width: 120px;
    background: var(--colour4);
    cursor: pointer;
    border-radius: 6px;
}
.yearInput:hover, .monthInput:hover, .yearInput:focus, .monthInput:focus {
    background: var(--accentcolour);
}
.yearDropdown, .monthDropdown {
    pointer-events: none;
    opacity: 0;
    transition: 90ms ease-in-out;

    position: absolute;
    top: 70%;
    left: 0;
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style: none;
    border: var(--border);
    background: var(--colour5);
    width: 100%;
    box-shadow: var(--shadow);
}
.yearInputOpt, .monthInputOpt {
    padding: 0.4rem .7rem;
    cursor: pointer;
}
.yearInputOpt:hover, .monthInputOpt:hover {
    background: var(--accentcolour);
    color: var(--colour1);
}

.dayLabelsWrap {
    display: flex;
    align-items: center;
    text-align: center;
    height: 50px;
}
.dayLabel {
    width: 50px;
}

.show {
    pointer-events: all;
    opacity: 1;
    top: 100%;
}
.changeMonthBtn {
    background-color: var(--colour4);
    color: white;
    padding: .4rem .6rem;
    border-radius: 6px;
}
.changeMonthBtn:hover {
    background: var(--accentcolour);
}