.calendarWrap {
    --cellSize: 50px;
    display: grid;
    width: fit-content;
    border: var(--border);
    box-shadow: var(--boxShadow);
    color: var(--textColorPrimary);
    border-radius: 6px;
}
.calendarHeader {
    background: var(--primaryColor);
}
.headerWrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-block: var(--padding);
}
.calendarBody {
    display: grid;
    grid-template-columns: repeat(7, var(--cellSize));
    background: var(--secondaryColor);
}
.date {
    width: var(--cellSize);
    height: var(--cellSize);
    border-radius: 6px;
    background: unset;
    color: var(--textColorPrimary);
}
.date:hover {
    background: var(--accentColor);
    color: var(--hoverTextColor);
}
.today {
    border: 3px solid var(--accentColor)
}
.notCurrentMonth {
    color: var(--textColorAccent);
}
.yearInput, .monthInput {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: .4rem;
    width: fit-content;
    min-width: 120px;
    background: var(--secondaryColor);
    cursor: pointer;
    border-radius: 6px;
}
.yearInput:hover, .monthInput:hover, .yearInput:focus, .monthInput:focus {
    background: var(--accentColor);
    color: var(--hoverTextColor);
}
.yearDropdown, .monthDropdown {
    pointer-events: none;
    opacity: 0;
    transition: 90ms ease-in-out;

    position: absolute;
    top: 70%;
    left: 0;
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style: none;
    border: var(--border);
    background: var(--primaryColor);
    width: 100%;
    box-shadow: var(--boxShadow);
}
.yearInputOpt, .monthInputOpt {
    padding: 0.4rem .7rem;
    cursor: pointer;
    color: var(--textColorPrimary);
}
.yearInputOpt:hover, .monthInputOpt:hover {
    background: var(--accentColor);
    color: var(--hoverTextColor);
}

.dayLabelsWrap {
    display: flex;
    align-items: center;
    text-align: center;
}
.dayLabel {
    display: grid;
    align-items: center;
    text-align: center;
    width: var(--cellSize);
    height: var(--cellSize);
}

.show {
    pointer-events: all;
    opacity: 1;
    top: 100%;
}
.changeMonthBtn {
    background-color: var(--primaryColor);
    color: var(--textColorPrimary);
    padding: .4rem .6rem;
    border-radius: 6px;
}
.changeMonthBtn:hover {
    background: var(--accentColor);
    color: var(--hoverTextColor);
}