.dialog {
    z-index: 9999999;
    position: absolute;
    inset: 0;
    background: var(--transparent);
    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialogWrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
}

.dialogContent {
    position: relative;
    width: 500px;
    background: var(--colour1);
    padding: 2rem;
    border-radius: 6px;
}

.dialogBtn {
    position: absolute;
    top: -10px;
    right: -10px;
    background: var(--colour5);
    color: var(--colour1);
    padding: .7rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.dialogBtn:hover {
    background: var(--accentcolour);
}