.tooltip {
    --top: 0;
    --bottom: 0;
    position: relative;
    width: fit-content;
    height: fit-content;
    font-size: .9rem;
    z-index: 99999;
}

.tooltip:hover > .popupTop, 
.tooltip:hover > .popupBottom {
    opacity: 1;
    pointer-events: all;
}

.tooltipPopup {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    background: var(--primaryColor);
    box-shadow: var(--boxShadow);
    padding: .7rem 1rem;
    border-radius: 5px;
    width: auto;
    opacity: 0;
    transition: 200ms 100ms ease-in-out; /* duration, delay, timing */
    pointer-events: none;
    white-space: nowrap;
}

.popupTop {
    bottom: var(--bottom);
}

.popupBottom {
    top: var(--top);
}

.arrowUp {
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--primaryColor);
}

.arrowDown {
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--primaryColor);
}