/*-----Adam Demol 2024-----*/
:root {
  line-height: 1.5;
  font-size: 16px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  --primaryColor: #ffffff;
  --secondaryColor: #f3f3f3;
  --accentColor: #3e82ff;
  --hoverBGColor: #245ec9;
  --hoverTextColor: #ffffff;
  --textColorPrimary: #111111;
  --textColorSecondary: #333;
  --textColorAccent: #aaa;
  --border: 1px solid #ddd;
  --boxShadow: 0 4px 12px 2px #ededed;
  --padding: 1rem;
  --margin: 1rem;
  --fontSize: 16px;
}

/*-----CSS RESETS-----*/
* { margin: 0px; padding: 0px; border: 0px; box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
html { scroll-behavior: smooth; }
button, input[type="submit"] { cursor: pointer; }

body {
  background-color: #fefefe;
  color: var(--textColor-c1);
  padding: 2rem;
}

.btn {
  background: var(--accentColor);
  color: var(--primaryColor);
  padding: 1rem 1.4rem;
  border-radius: 6px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.btn:hover {
  background: var(--hoverBGColor);
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
