/*-----Adam Demol 2024-----*/
:root {
  line-height: 1.5;
  font-size: 16px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*-----CSS RESETS-----*/
* { margin: 0px; padding: 0px; border: 0px; box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
html { scroll-behavior: smooth; }
button, input[type="submit"] { cursor: pointer; }

body {
  background-color: #1f1b1c;
  color: #eee;
  padding: 2rem;
}