.accordion {
    box-shadow: var(--boxShadow);
    width: fit-content;
    min-width: 200px;
    max-width: 500px;
    height: fit-content;
}

.accordionItem {
    display: grid;
}

.accordionHeader {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    padding: var(--padding);
    background: var(--primaryColor);
    color: var(--textColorPrimary);
    margin: 0;
}
.accordionHeader:hover {
    background: var(--accentColor);
    color: var(--hoverTextColor);
}

.accordionBody {
    pointer-events: none;
    background: var(--secondaryColor);
    color: var(--textColorSecondary);
    padding: 0;

    display: grid;
    grid-template-rows: 0fr;
    transition: all 150ms ease-in-out;
}

.accordionBodyText {
    overflow: hidden;
}

.headerIcon {
    transition: all 150ms cubic-bezier(.07,.97,.48,1);
}

.show {
    padding: var(--padding);
    grid-template-rows: 1fr;
    pointer-events: all;
}

.rotate {
    transform: rotate(180deg);
}