.accordion {
    box-shadow: 0 5px 10px 8px #1a1718;
    border-radius: 1rem;
    width: fit-content;
    min-width: 200px;
    max-width: 500px;
}

.accordionItem {
    display: grid;
}

.accordionHeader {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    padding: 1rem;
    background-color: #3f383b;
    color: white;
    margin: 0;
    border: 1px solid #4e4549;
}
.accordionHeader:hover {
    background-color: #2e282b;
}

.accordionBody {
    pointer-events: none;
    background-color: #5e5659;
    color: white;
    padding: 0;

    display: grid;
    grid-template-rows: 0fr;
    transition: all 150ms ease-in-out;
}

.accordionBodyText {
    overflow: hidden;
}

.headerIcon {
    transition: all 150ms cubic-bezier(.07,.97,.48,1);
}

.show {
    padding: 1rem;
    grid-template-rows: 1fr;
    pointer-events: all;
}

.rotate {
    transform: rotate(180deg);
}