.accordion {
    box-shadow: var(--shadow);
    border-radius: 1rem;
    width: fit-content;
    min-width: 200px;
    max-width: 500px;
    height: fit-content;
}

.accordionItem {
    display: grid;
}

.accordionHeader {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    padding: 1rem;
    background-color: var(--colour1);
    margin: 0;
}
.accordionHeader:hover {
    background-color: var(--accentcolour);
    color: var(--colour1);
}

.accordionBody {
    pointer-events: none;
    background-color: var(--colour3);
    padding: 0;

    display: grid;
    grid-template-rows: 0fr;
    transition: all 150ms ease-in-out;
}

.accordionBodyText {
    overflow: hidden;
}

.headerIcon {
    transition: all 150ms cubic-bezier(.07,.97,.48,1);
}

.show {
    padding: 1rem;
    grid-template-rows: 1fr;
    pointer-events: all;
}

.rotate {
    transform: rotate(180deg);
}